# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.kPooling-Example.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\burak\OneDrive\Documents\GitHub\kPooling-Example\.idea\.idea.kPooling-Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
